@charset "utf-8";

// ===========================
// Reset
// ===========================

@import "sanitize";

:root, html, body{
  width: 100%;
}
* {
  box-sizing: border-box;
}

li {
  list-style-type: none;
}
